# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.development
.env.production
.env.local

# Logs
logs/
*.log

# Output
dist/
build/
docker-data/

# Uploads
uploads/
public/uploads/

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
